---
layout: archive
title: "关于燕燕救助筹款事件"
permalink: /publications/
author_profile: true
---

燕燕的救助是从一个善良的女孩子在医院偶然看到一个快饿死的女婴开始的。 本来这个女婴命悬一线的女婴（许燕烨），得到了及时的救治。

女婴相关背景：

1.姓名：许燕烨。2024年/07/11日出生，9号入院潮州市中心医院。入院时，病情非常严重
诊断结果：1.脓血毒症
2：弥散性血管内凝血
3.重度营养不良伴消瘦
4. 电解质紊乱
5.低蛋白血症
6.肝功能不全
7.脑发育不全
8.肺炎
9.肺实变
处理意见：病情危重，建议继续住院治疗。
2.生父：许奕彬，电话15816587912，身份证：445121198707123419
3.生母：许淡霞，身份证：415121200010183446，有智力问题。
4.生父生母于2025年3月17号办的结婚证，才给入院的燕燕在潮州人民医院办理了出生证。8个月大才上的出生证，3月31号才上的户口和医保（此前一直黑户）。

女婴被发现和救助的过程：
潮州姑娘辉辉带自己的小孩去中心市医院看病，期间看见许奕彬为了4千块的救治费在潮州市中心医院大声吵闹。往前查看，看到一个非常瘦小皮肤溃烂的女婴，询问得知女婴已经八个月却只有六斤。过去四个月内至住院在一直吃淮山粉（如下图），其母亲白天将婴儿丢给邻居一个老汉看管，而自己出去跟情夫（吴立勉）约会。最终导致小燕燕窒息到医院抢救。




<!--
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} --> -->
